<!-- Main HBS document: Manages the overall look of website-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EhBnB</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <header>
       <h1>EhBnB</h1>
       <img src="/img/logo.jpg" id="logo" alt="Logo" height="60" width="100">
       <nav>
          <a href="/">Home</a>
          <a href="/login">Login</a>
          <a href="/user_reg">Sign Up</a>
      </nav>
   </header>
 
    <section id="main">
      {{{body}}}
    </section>
    <section>
        <!-- Promo banner-->

        <!-- Information-->
        <label>About Us</label>
        <div>Our goal at EhBnB is to help travellers across Canada find affordable 
        and comfortable short-term accomodations in our major cities. Whether
        you're travelling for business or pleasure, you can rely on EhBnB to
        provide a plethora of options best suited to your needs.</div>
    </section>
    <footer>
        <div class="footer">WEB322: Fall 2019</div>
    </footer>
</body>
</html>