<!-- Form to Add New Listings to Website -->
<h2>Add New Listing</h2>
    
    <form action="/Listings/add" method="POST">
        <label>City</label>
        <input type="text" name="city" id="city"> <br>
        <label>Title</label>
        <input type="text" name="title" id="title"> <br>
        <label>Description</label>
        <input type="text" name="description" id="description"> <br>
        <label>Picture</label>
        <input type="file" name="image">
        <label>Price</label>
        <input type="number" name="price" id="price"> <br>

        <input type="submit" value="Add Listing">
    </form>
{{#each errors}}
  <span class="error">{{this}}</span>
{{/each}}