<h2>Dashboard: Welcome!</h2>

<!--Dashboard Options-->
<list>
    <ul>
        <!--Booking Module-->
        <a href="/bookings">Book a Room</a>
        <a href="/add">Add a Listing</a>
        <a href="/edit">Edit a Listing</a>
        <a href="/view">View Current Listings</a>
        <a href="/logout">Sign Out</a>
    </ul>
</list>