<!-- Home Page/ Search -->
<h1>Welcome to EhBnB</h1>
<!-- Property Search Form-->
<h2>Find your next home away from home with EhBnB!</h2><br>
<form>
  <label>City</label>
  <select name="cities">
    <option value="toronto">Toronto</option>
    <option value="montreal">Montreal</option>
    <option value="vancouver">Vancouver</option>
    <option value="halifax">Halifax</option>
  </select><br>
  <label>Check-in</label>
  <input id="checkIn" type="date" name="Check-in" min="2019-01-01" max="2020-12-31"/><br>
  <label>Check-out</label>
  <input id="checkOut" type="date" name="Check-out" min="2019-01-01" max="2020-12-31"/><br>
  <label>Guests</label>
  <input id="guests" type="number" name="#guests" min="1" max="12"/><br><br>
  <input type="submit" value="Search Properties" /><br>
</form>
